html {
  background-color: #282c34;
}

.App {
  text-align: center;
}
header {
  color: #ddd;
  font-size: 1.7em;
}
.user-profile {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.user-profile-image {
  height: 15vmin;
  pointer-events: none;
  border-radius: 50%;
}

.user-profile-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}
